* {
  margin: 0;
  box-sizing: border-box;
}

#containerAll {
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 20px;
  text-align: center;
}

.containerInputs {
  margin-top: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  min-width: 100px;
}

.listado {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px violet;
}

ul {
  width: 80%;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border: solid 1px rgb(0, 3, 199);
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px 3px 5px 6px;
  align-items: center;
  width: 100%;
}

.productoLista {
  color: black;
  flex: 1;
}

.cantidadLista {
  color: rgb(56, 56, 56);
  flex: 1;
}

.buttonDelete {
  background-color: rgb(255, 0, 0);
  border-radius: 50px;
}

@media (max-width: 950px) {
  .listado {
    width: 750px;
  }

  ul {
    width: 90%;
  }

  .containerInputs {
    width: 750px;
  }
}

@media (max-width: 790px) {
  .listado {
    width: 600px;
  }

  ul {
    width: 90%;
  }

  .containerInputs {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .listado {
    width: 450px;
  }

  ul {
    width: 90%;
  }

  .containerInputs {
    width: 500px;
  }
}

@media (max-width: 530px) {
  .listado {
    width: 450px;
  }

  ul {
    width: 90%;
  }
  .containerInputs {
    width: 450px;
  }
}

@media (max-width: 450px) {
  .listado {
    width: 420px;
  }
  ul {
    width: 90%;
  }
  .containerInputs {
    width: 420px;
  }
}

@media (max-width: 430px) {
  .listado {
    width: 400px;
  }
  ul {
    width: 90%;
  }
  .containerInputs {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .listado {
    width: 350px;
  }
  ul {
    width: 90%;
  }
  .containerInputs {
    width: 350px;
  }
}

@media (max-width: 415px) {
  .listado {
    width: 300px;
  }
  ul {
    width: 90%;
  }
  .containerInputs {
    width: 300px;
  }
}
